<%= form_with model: team, url: team_path do |f| %>
  <%= render 'shared/errors_messages', model: f.object %>
    <div class="form-group" data-controller="avatar-preview">
      <%= f.label :thubmnail, t(User.human_attribute_name(:avatar)), class: 'label mb-0 text-lg font-semibold text-gray-700' %>
      <%= f.file_field :thubmnail, 
                        class: "file-input", 
                        accept: 'image/*', 
                        data: { "action" => "change->thubmnail-preview#preview", "thubmnail-preview-target" => "input" } %>
      <%= f.hidden_field :thubmnail_cache %>
      <div class='mt-2 mb-4'>
        <%= image_tag team.avatar.url, 
                      id: 'preview', 
                      class: "px-10 pt-10", 
                      data: { "thubmnail-preview-target" => "preview" } %>
      </div>
    </div>
    <div class="mb-4">
      <%= f.label :title, t(User.human_attribute_name(:title)), class: 'label mb-0 text-lg font-semibold text-gray-700' %>
      <%= f.text_field :title, class: 'input input-bordered input-success w-full max-w-xs' %>
    </div>
    <div class="mb-4">
      <%= f.label :target_time, t(User.human_attribute_name(:target_time)), class: 'label mb-0 text-lg font-semibold text-gray-700' %>
      <%= f.select :target_time, options_for_select((10..400).step(10)), { include_blank: '何時間勉強する？' }, { class: 'select select-success w-full max-w-xs' } %>
    </div>
    <div class="mb-4">
      <%= f.label :capacity, t(User.human_attribute_name(:capacity)), class: 'label mb-0 text-lg font-semibold text-gray-700' %>
      <%= f.select :capacity, options_for_select(2..5), { include_blank: '何人でがんばる？' }, { class: 'select select-success w-full max-w-xs' } %>
    </div>
    <div class="mb-4">
      <%= f.label :start_date, t(User.human_attribute_name(:start_date)), class: 'label mb-0 text-lg font-semibold text-gray-700' %>
      <%= f.date_select :start_date, {discard_year: true, use_month_numbers: true} %>
    </div>
    <div class="mb-4">
      <%= f.label :end_date, t(User.human_attribute_name(:start_date)), class: 'label mb-0 text-lg font-semibold text-gray-700' %>
      <%= f.date_select :end_date, {discard_year: true, use_month_numbers: true} %>
    </div>
    <div class="mb-4">
      <%= f.label :description, t(User.human_attribute_name(:description)), class: 'label mb-0 text-lg font-semibold text-gray-700' %>
      <%= f.text_area :description, class: 'textarea textarea-success w-full max-w-xs', placeholder: '意気込みやどんなことを頑張りたいか書いてね' %>
    </div>
    <!-- Button --->
    <div class="card-actions justify-end">
      <%= f.submit t('defaults.register'), class: 'btn btn-primary' %>
    </div>
<% end %>

