<div class="w-full" data-controller="result-modal" data-result-modal-end-date-value="<%= team.end_date.iso8601 %>">
  <%= render 'teams/result_modal', team: team %>
  <h1 class="text-5xl font-bold text-center text-white pt-8 pb-2 text-shadow"><%= team.title %></h1>
  <h1 class="text-xl font-bold text-center text-white pb-8 pb-2 text-shadow"><%= l team.start_date, format: :short %>&emsp;〜&emsp;<%= l team.end_date, format: :short %></h1>


  <div class="w-1/3 mx-auto">
    <div class="flex justify-end">
      <div class="dropdown md:dropdown-right sm:dropdown-end">
        <div class="tooltip tooltip-top tooltip-success" data-tip="チャット">
          <div tabindex="0" role="button" class="btn btn-circle btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fafafa" class="w-12 h-12">
              <path fill-rule="evenodd" d="M4.804 21.644A6.707 6.707 0 0 0 6 21.75a6.721 6.721 0 0 0 3.583-1.029c.774.182 1.584.279 2.417.279 5.322 0 9.75-3.97 9.75-9 0-5.03-4.428-9-9.75-9s-9.75 3.97-9.75 9c0 2.409 1.025 4.587 2.674 6.192.232.226.277.428.254.543a3.73 3.73 0 0 1-.814 1.686.75.75 0 0 0 .44 1.223ZM8.25 10.875a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25ZM10.875 12a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875-1.125a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25Z" clip-rule="evenodd" />
            </svg>
          </div>
        </div>
        <%= render 'rooms/show', team: team %>
      </div>
    </div>
  </div>

  <div>
    <ul class="mx-auto w-1/2">
      <li class="flex justify-center">
        <% team.attendees.each do |attendee| %>
          <%= link_to user_path(attendee) do %>
            <div class="avatar">
              <div class="w-16 rounded-full">
                <%= image_tag image_path(attendee.avatar.url) %>
              </div>
            </div>
          <% end %>
        <% end %>
      </li>
    </ul>
    <div class="card w-1/2 glass mx-auto my-10 p-5">
      <p class="text-left text-xl">みんなで</p>
      <h1 class="text-center text-7xl"><%= format_duration(team.total_calculated_time) %></h1>
      <p class="text-center text-lg">&emsp;&emsp;時間&emsp;&emsp;&emsp;&emsp;分</p>
      <p class="text-right text-xl">森林を増やせました</p>
    </div>
    <div class="card w-1/2 glass mx-auto mb-10 p-5">
      <p class="text-left text-xl">絶滅から守るためにあと</p>
      <h1 class="text-center text-7xl" data-result-modal-target="remainingTime"><%= format_duration(team.remaining_time) %></h1>
      <p class="text-center text-lg">&emsp;&emsp;時間&emsp;&emsp;&emsp;&emsp;分</p>
      <p class="text-right text-xl">森林が必要です</p>
    </div>
  </div>
  <div class="w-fit mx-auto my-8">
    <% if @active_team.present? %>
      <%= link_to "学習時間の計測をはじめる", new_team_timer_path(@active_team), target: "_blank", rel: "noopener noreferrer", method: :get, class: 'btn btn-lg btn-primary' %>
    <% else %>
      <%= link_to "新しい仲間を見つける", teams_path, method: :get, class: 'btn btn-lg btn-secondary' %>
    <% end %>
  </div>
</div>
