<div data-controller="result-modal" data-result-modal-end-date-value="<%= team.end_date.iso8601 %>">
  <%= render 'teams/result_modal', team: team %>
  <h1 class="text-5xl font-bold text-center pt-8"><%= team.title %></h1>
    <ul class="mx-auto border">
      <li>
        <% team.attendees.each do |attendee| %>
          <div class="avatar">
            <div class="w-16 rounded-full justify-center">
              <%= image_tag image_path(attendee.avatar.url) %>
            </div>
          </div>
        <% end %>
      </li>
    </ul>
  <div class="card w-1/2 glass mx-auto my-10 p-5">
    <p class="text-left text-xl">みんなで</p>
    <h1 class="text-center text-7xl"><%= format_duration(team.total_calculated_time) %></h1>
    <p class="text-center text-lg">&emsp;&emsp;時間&emsp;&emsp;&emsp;&emsp;分</p>
    <p class="text-right text-xl">森林を増やせました</p>
  </div>
  <div class="card w-1/2 glass mx-auto mb-10 p-5">
    <p class="text-left text-xl">絶滅から守るためにあと</p>
    <h1 class="text-center text-7xl" data-result-modal-target="remainingTime"><%= format_duration(team.remaining_time) %></h1>
    <p class="text-center text-lg">&emsp;&emsp;時間&emsp;&emsp;&emsp;&emsp;分</p>
    <p class="text-right text-xl">森林が必要です</p>
  </div>
</div>
