<div class="card max-w-full bg-base-200 shadow-xl">
  <div class="card h-4/5 ">
    <% if team.status == "wanted" %>
      <p class="text-red-300 text-center text-xl border-2  border-red-300 my-4 rounded-md w-48 max-w-full sm:max-w-xs m-auto"><%= team.status_i18n %><p>
    <% else %>
      <p class="text-lime-600 text-center text-xl border-2 border-lime-600 my-4 rounded-md w-48 max-w-full sm:max-w-xs mx-auto"><%= team.status_i18n %><p>
    <% end %>
    <figure class="mx-8 mt-8">
      <%= image_tag team.thumbnail.url, class: 'rounded-md object-fill w-full aspect-[4/3]' %>
    </figure>
    <div class="card-body items-start text-start">
      <h2 class="card-title">
        <%= team.title %>
      </h2>
      <hr />
        <div>
          <i class="bi bi-geo-alt"></i>
          <%= team.target_time %> 時間
        </div>
        <hr />
        <div>
          <i class="bi bi-calendar"></i>
          <%= l team.start_date, format: :short %> ~
        </div>
      <hr />
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center gap-3">
          <%= image_tag team.user.avatar.url, class: 'h-14 w-14 rounded-full' %>
          <% if team.user == current_user %>
            <%= link_to team.user.name, profile_path, method: :get %>
          <% else %>
            <%= link_to team.user.name, user_path(user.id), method: :get %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-actions justify-end mb-8 mx-8">
      <%= button_to "くわしく！", team_path(team), method: :get, class: 'btn btn-primary', data: {turbo_frame: "_top"} %>
    </div>
  </div>
</div>
