<div class="min-h-screen bg-base-100">
  <div class="flex justify-start mx-auto p-2">
    <%= link_to teams_path, class: "btn btn-link no-underline" do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
        <path fill-rule="evenodd" d="M12.5 9.75A2.75 2.75 0 0 0 9.75 7H4.56l2.22 2.22a.75.75 0 1 1-1.06 1.06l-3.5-3.5a.75.75 0 0 1 0-1.06l3.5-3.5a.75.75 0 0 1 1.06 1.06L4.56 5.5h5.19a4.25 4.25 0 0 1 0 8.5h-1a.75.75 0 0 1 0-1.5h1a2.75 2.75 0 0 0 2.75-2.75Z" clip-rule="evenodd" />
      </svg>
      「仲間を見つける」へもどる
    <% end %>
  </div>
  <div class="max-w-7xl mx-auto my-4 grid grid-cols-2 gap-6 items-start">
    <div class="card bg-base-200 shadow-xl">
      <div class="card-body">
        <figure>
          <%= image_tag @team.image_for_time(@team.target_time), class: 'rounded-md object-cover'%>
        </figure>
        <h2 class="card-title text-4xl"><%= @team.title %> </h2>
        <hr class="my-5">
        <div>
          <h3 class="mb-0 text-lg font-semibold text-gray-700" ><%= t(Team.human_attribute_name(:target_time)) %></h3>
          <p class="mb-4">
            <%= @team.target_time %> 時間
          </p>
        </div>
        <div>
          <h3 class="mb-0 text-lg font-semibold text-gray-700" ><%= t(Team.human_attribute_name(:capacity)) %></h3>
          <p class="mb-4">
            <%= @team.capacity %> 人
          </p>
        </div>
        <div>
          <h3 class="mb-0 text-lg font-semibold text-gray-700" ><%= t'.term' %></h3>
          <p class="mb-4">
            <%= l @team.start_date, format: :short %>〜<%= l @team.end_date, format: :short%>
          </p>
        </div>
        <div>
          <h3 class="mb-0 text-lg font-semibold text-gray-700">募集期限</h3>
          <%= l @team.deadline, format: :default %>
        </div>
        <div>
          <h3 class="mb-0 text-lg font-semibold text-gray-700" ><%= t(Team.human_attribute_name(:description)) %></h3>
          <p class="mb-4">
            <%= @team.description %>
          </p>
        </div>
        <div class="card-actions justify-end">
          <% if logged_in? %>
            <% if !current_user.owner?(@team) %>
              <% if @team.status == "wanted" %> 
                <% @active_team = current_user.attend_teams.where('start_date <= ? AND end_date >= ?', Time.current, Time.current).order(:end_date).last %>
                <% if @active_team.blank? %>
                  <% if current_user.attend?(@team) %>
                    <%= link_to 'キャンセルする',
                                team_attendance_path(@team),
                                 class: 'btn btn-primary',
                                 data: { turbo_method: :delete, turbo_confirm: '本当にキャンセル？' } %>
                  <% else %>
                    <%= link_to '仲間になる',
                                team_attendance_path(@team),
                                class: 'btn btn-accent',
                                data: { "turbo-method": :post } %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <% if logged_in? %>
          <% if current_user.own?(@team) %>
            <% unless @team.start_date <= Time.current %>
              <div class="card-actions justify-end">
                <%= link_to "https://twitter.com/intent/tweet?url=#{ request.url }&text=#{@team.title}！森林を増やして一緒に絶滅危惧種を救おう！%0a&hashtags=やる気の森&hashtags=やるもり&hashtags=yarukimorimori",class: "btn btn-primary", target: '_blank' do %>
                  <%= image_tag ("logo-black.png"), size: "20x20" %>シェア！
                <% end %>
                <%= button_to t('defaults.edit'), edit_team_path(@team), method: :get, class: 'btn btn-secondary' %>
                <%= button_to t('defaults.destroy'),
                              team_path(@team), 
                              method: :delete, data: { turbo_confirm: 'ホントに削除しますか？' },  
                              class: 'btn btn-info' %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="card w-96 h-auto bg-base-200 text-primary-content shadow-xl">
      <div class="card-body">
        <h2 class="card-title">仲間たち</h2>
        <ul class="list-unstyled">
          <%= render partial: 'teams/attendee', collection: @team.attendees %>
       </ul>
      </div>
    </div>
  </div>
</div>
