<div class="grid grid-flow-row-dense grid-cols-3">
  <div class="avatar mx-auto">
    <div class="w-24 rounded-full">  
      <%= image_tag user.avatar.url, size: '200x200' %>
    </div>
  </div>
  <div class="col-span-2">
    <h3 class="mb-0 text-lg font-semibold text-gray-700"><%= t(User.human_attribute_name(:description)) %></h3>
    <p class="mb-4">
      <% if user.description.present? %>
        <%= user.description %>
      <% else %>
        No Data
      <% end %>
    </p>
  </div>
  <div class="mx-auto">
    <p class="text-2xl">
      <%= user.name %>
    </p>
  </div>
  <div class="col-span-2">
    <h3 class="mb-0 text-lg font-semibold text-gray-700">現在こちらで活動中</h3>
    <p class="mb-4">
      <% if user.attended_team.present? %>
        <%= user.attended_team.title %>
      <% else %>
        No Data 
      <% end %>
    </p>
  </div>
</div>
