
<div class="pl-12 flex justify-start items-center min-h-screen bg-gray-100">
  <div class="card bg-base-200 shadow-xl w-full lg:w-3/4 xl:w-1/2">
    <div class="card-body">
      <h1 class="card-title">Profile Edit</h1>
      <!-- Form -->
      <%= form_with(model: current_user, url: profile_path(current_user.id)) do |f| %>
        <div class="form-group">
          <div class='mt-2 mb-4'>
            <%= image_tag current_user.avatar.url, 
                          id: 'preview', 
                          class: 'avatar w-24 rounded-full', 
                          size: '200x200' %>
          </div>
          <%= f.label :avatar, class: 'label mb-0 text-lg font-semibold text-gray-700' %>
          <div class="file-input file-input-bordered file-input-success w-full max-w-xs">
            <%= f.file_field :avatar, 
                              class: "file-input", 
                              accept: 'image/*', 
                              onchange:  'previewFileWithId(preview)' %>
          </div>
          <%= f.hidden_field :avatar_cache %>
        </div>
        <div class="mb-4">
          <%= f.label :name, class: 'label mb-0 text-lg font-semibold text-gray-700' %>
          <%= f.text_field :name, class: 'input input-bordered input-success w-full max-w-xs' %>
        </div>
        <div class="mb-4">
          <%= f.label :description, class: 'label mb-0 text-lg font-semibold text-gray-700' %>
          <%= f.text_area :description, class: 'textarea textarea-success w-full max-w-xs', placeholder: '簡単な自己紹介を書いてみよう！' %>
        </div>
          <!-- Button --->
        <div class="card-actions justify-end">
          <%= f.submit 'Update Profile', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
